body {
  background-color: aliceblue;
}

.outer-dash {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        padding-left: 80px;
        background-color: white;
}


/* Nav Bar */
.outer-dash-nav {
        display: none;
        height: 100%;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        position: fixed;
        top: 0;
        z-index: 999;
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: white;
}

.student-info-nav {
        padding: 10px 10px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border-bottom: 1px solid gray;
}

.student-nav-info p {
        margin: 10px;
}

.student-nav-img {
        font-size: 50px;
}

#hide-nav {
        background: none;
        border: none;
}

.dash-info-link a {
        text-decoration: none;
        color: black;
}

.dash-info-link {
        width: 100%;
        border-bottom: 1px solid gray;
}

.dash-info-link li {
        font-size: 17px;
        list-style: none;
        padding: 15px;
        margin: 2px;
}

.dash-info-link ul {
        padding: 0px;
}

.dash-info-link li:hover {
        transition: 0.2s ease-in-out;
        background-color: aliceblue;
        border-bottom: 1px solid #003580;
}

.student-log-out button {
        background: none;
        border: none;
        font-size: 14px;
        cursor: pointer;
        margin: 0px 5px 20px 5px;
}


.toggle-dash-nav {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        position: fixed;
        top: 0;
        z-index: 999;
        background-color: white;
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.toggle-info-link ul {
        list-style: none;
        padding: 0px;
}

.toggle-info-link li {
        font-size: 18px;
        padding: 8px;
        margin: 8px;
}

.toggle-logout {
        font-size: 15px;
        margin: 20px;
}

@media (max-width: 768px) {
       
        .dash-info-link li {
                font-size: 15px;
                padding: 6px;
                margin: 5px;
        }

        .toggle-info-link li{
                font-size: 15px;
                margin: 5px;
        }

        .toggle-logout {
                font-size: 15px;
                margin: 0px;
        }
}

/* Attendance */

.at-head{
        font-size: 25px;
        font-weight: bold;
        text-align: start;
        margin: 0px 20px;
}

#at-txt{
        margin: 0px 20px;
}

.attendance-outer{
        background-color: white;
        padding: 30px;
        width: 95%;
}

.a-chart-outer{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
}

.attendance-pi{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 50px 40px;
        border-radius: 12px;

}

.pi-c{
        height: 200px;
        width: 200px;
        background-color: rgb(22, 197, 22);
        border-radius: 50%;
}

.attendance-card{
        display: flex;
        align-items: center;
        justify-content: center;
}

.card-attendance-body{
        border: 1px solid black;
        margin: 10px 20px;
        padding: 5px 20px;
        width: 200px;
        text-align: center;
        border-radius: 12px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.a-card-head{
        font-size: 17px;
        font-weight: 500;
}

.a-card-num{
        font-size: 25px;
        font-weight: bold;
}

.a-card{
        display: flex;
        align-items: center;
        justify-content: center;
}

.attendance-chart{
        border: 1px solid black;
        border-radius: 12px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 5px 10px;
}

.chart-body{
        width: 200px;
        height: 150px;
}

@media (max-width:1024px){
        .attendance-card{
                flex-direction: column;
        }
}

@media (max-width:900px) {
        .a-chart-outer{
                flex-direction: column;
        }
        .attendance-chart{
                overflow: scroll;
                margin-right: 10px;
        }
}

@media (max-width:550px) {
        .attendance-outer{
                padding: 15px;
        }

        .at-head{
                margin: 0px;
        }

        #at-txt{
                margin: 0px;
        }

        .attendance-pi{
                padding: 15px;
        }

        .a-card{
                flex-direction: column;
        }
}

/* subject table */

.sub-table-outer{
        width: 95%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 20px;
        border-radius: 12px;
}

.sub-head{
        font-size: 25px;
        font-weight: bold;
}

.sub-table{
        overflow-x: scroll;
}

table{
        width: 100%;
        padding: 20px;
        border-collapse: separate;
        border-spacing: 20px 0px;
        gap: 20px 0px;
}

table th{
        padding: 0px 50px 0px 20px;
}

table td{
        padding: 0px 50px 0px 20px;
}

table th p{
        font-weight: 100;
}


