body {
  background-color: aliceblue;
}

.outer-dash {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding-left: 80px;
  background-color: white;
}


/* Nav Bar */
.outer-dash-nav {
  display: none;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  z-index: 999;
  padding: 5px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
}

.college-info-nav {
  padding: 5px 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid gray;
}

.college-nav-info p {
  margin: 10px;
}

.college-nav-img img {
  height: 50px;
}

#hide-nav {
  background: none;
  border: none;
}

.dash-info-link a {
  text-decoration: none;
  color: black;
}

.dash-info-link {
  width: 100%;
  border-bottom: 1px solid gray;
}

.dash-info-link li {
  font-size: 13px;
  list-style: none;
  padding: 10px;
  margin: 2px;
}

.dash-info-link ul {
  padding: 0px;
}

.dash-info-link li:hover {
  transition: 0.2s ease-in-out;
  background-color: aliceblue;
  border-bottom: 1px solid #003580;
}

.college-log-out button {
  background: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
  margin: 0px 5px 20px 5px;
}


.toggle-dash-nav {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: white;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.toggle-img img {
  height: 40px;
}

.toggle-info-link ul {
  list-style: none;
  padding: 0px;
}

.toggle-info-link li {
  font-size: 15px;
  padding: 8px;
  margin: 8px;
}

.toggle-logout {
  font-size: 15px;
  margin: 20px;
}

@media (max-width: 768px) {

  .dash-info-link li {
    font-size: 15px;
    padding: 6px;
    margin: 5px;
  }

  .toggle-info-link li {
    font-size: 15px;
    margin: 5px;
  }

  .toggle-logout {
    font-size: 15px;
    margin: 0px;
  }
}

/* Upper Nav */
.upper-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  width: 93%;
  z-index: 990;
  background-color: white;
}

.upper-nav-info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.upper-nav-img {
  font-size: 40px;
  margin: 0px 40px 0px 20px;
}

.upper-nav-txt p {
  margin: 0px;
}

.main {
  width: 100%;
  padding: 20px 30px;
}

.subtitle {
  color: gray;
  margin-top: 5px;
}

/* TABLE */
.grievance-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: white;
}

/* HEAD */
.grievance-table th {
  text-align: left;
  padding: 12px;
  font-size: 14px;
  border-bottom: 1px solid #eee;
}

/* BODY */
.grievance-table td {
  padding: 12px;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}

/* BADGES */
.badges {
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
}

.badge-yellow {
  background: #fbffcc;
  color: #e56604;
}

.badge-blue {
  background: #e0ecff;
  color: #2563eb;
}

.badge-green {
  background: #dcfce7;
  color: #15803d;
}

/* ACTION BUTTON */
.action-btn {
  padding: 5px 12px;
  border-radius: 15px;
  border: none;
  background: #003580;
  color: white;
}

.main {
  overflow-x: scroll;
}

/* Review */

.review-card-outer{
  padding: 10px 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 12px;
  width: 50%;
}

.review-card-head{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.c-btn button{
  background: none;
  border: none;
  font-size: 25px;
}

.head-text{
  font-size: 25px;
}

.info-outer{
  display: flex;
  align-items: center;
  justify-content: start;
}

.details{
  width: 50%;
}

.details p{
  font-weight: bold;
}

.review-update .details{
  width: 100%;
}

.review-update select{
  width: 100%;
  padding: 10px;
  border-radius: 12px;
}

.review-update textarea{
  width: 100%;
  padding: 10px 10px 20px 10px;
  border-radius: 12px;
}

.s-btn button{
  width: 100%;
  text-align: center;
  background-color: #003580;
  color: white;
  padding: 10px 0px;
  border-radius: 12px;
  border: none;
}

@media (max-width:650px){
  .review-card-outer{
    width: 80%;
  }

  .details{
    width: 100%;
  }

  .info-outer{
    align-items: start;
    justify-content: start;
    flex-direction: column;
  }
}

@media (max-width:450px){
  .review-card-outer{
    width: 95%;
  }
}