body {
  background-color: aliceblue;
}

.outer-dash {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        padding-left: 80px;
        background-color: white;
        margin-top: 70px;
}


/* Nav Bar */
.outer-dash-nav {
        display: none;
        height: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: fixed;
        top: 0;
        z-index: 999;
        padding: 5px 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: white;
}

.college-info-nav {
        padding: 5px 10px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid gray;
}

.college-nav-info p {
        margin: 10px;
}

.college-nav-img img{
        height: 50px;
}

#hide-nav {
        background: none;
        border: none;
}

.dash-info-link a {
        text-decoration: none;
        color: black;
}

.dash-info-link {
        width: 100%;
        border-bottom: 1px solid gray;
}

.dash-info-link li {
        font-size: 13px;
        list-style: none;
        padding: 10px;
        margin: 2px;
}

.dash-info-link ul {
        padding: 0px;
}

.dash-info-link li:hover {
        transition: 0.2s ease-in-out;
        background-color: aliceblue;
        border-bottom: 1px solid #003580;
}

.college-log-out button {
        background: none;
        border: none;
        font-size: 14px;
        cursor: pointer;
        margin: 0px 5px 20px 5px;
}


.toggle-dash-nav {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        position: fixed;
        top: 0;
        z-index: 999;
        background-color: white;
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.toggle-img img{
        height: 40px;
}

.toggle-info-link ul {
        list-style: none;
        padding: 0px;
}

.toggle-info-link li {
        font-size: 15px;
        padding: 8px;
        margin: 8px;
}

.toggle-logout {
        font-size: 15px;
        margin: 20px;
}

@media (max-width: 768px) {
       
        .dash-info-link li {
                font-size: 15px;
                padding: 6px;
                margin: 5px;
        }

        .toggle-info-link li{
                font-size: 15px;
                margin: 5px;
        }

        .toggle-logout {
                font-size: 15px;
                margin: 0px;
        }
}

/* Upper Nav */
.upper-nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        top: 0px;
        width: 93%;
        z-index: 990;
        background-color: white;
}

.upper-nav-info{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
}

.upper-nav-img{
        font-size: 40px;
        margin: 0px 40px 0px 20px;
}

.upper-nav-txt p{
        margin: 0px;
}
/* Student Dashboard */

.student-outer-body{
        padding: 20px;
        width: 98%;
        border-radius: 12px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.student-head{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 15px;
}

.student-edit-btn button{
        background-color: #003580;
        color: white;
        border-radius: 20px;
        padding: 5px 10px;
}

.s-heading{
        display: flex;
        align-items: baseline;
        justify-content: space-evenly;
        font-size: 30px;
        font-weight: bold;
}

.s-heading p{
        margin: 0%;
}

.student-txt{
        display: flex;
        align-items: baseline;
        justify-content: center;
        flex-direction: column;
        font-size: 14px;
}

.search-std input{
        margin: 20px;
        border: none;
        box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 8px;
        padding: 10px 20px;
}

.search-std button{
        border: none;
        color: white;
        padding: 10px 15px;
        border-radius: 8px;
        background-color: #003580;
}

/* Table */

.std-table{
        overflow-x: scroll;
}

table{
        width: 100%;
        border-collapse: separate;
        border-spacing: 20px 0px;
}

td, th{
        padding: 10px 40px 0px 10px;
}

.std-detail{
        display: flex;
        align-items: center;
        justify-content: start;
}

.std-detail i{
        font-size: 25px;
        margin: 0px 20px;
}

.std-info span{
        font-size: 12px;
        margin: 0px;
}

.std-info p{
        font-weight: bold;
        margin: 0px;
}

.status-v span{
        color: green;
        background-color: rgba(0, 128, 0, 0.168);
        padding: 5px;
        border-radius: 8px;
}

.status-p span{
        color: orange;
        background-color: rgba(255, 255, 0, 0.182);
        padding: 5px;
        border-radius: 8px;
}

.status-r span{
        color: red;
        background-color: rgba(255, 0, 0, 0.187);
        padding: 5px;
        border-radius: 8px;
}

td button{
        background: none;
        border: none;
        color: red;
}

@media (max-width: 568px){

        .student-head{
                flex-direction: column;
        }

        .search-std{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
        }
}


@media (max-width: 400px){
        .s-heading{
                font-size: 22px;
        }
}


/* Edit */

.edit-outer {
        background-color: white;
        padding: 30px;
        width: 50%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 8px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        display: none;
}

.edit-head {
        font-size: 25px;
        font-weight: bold;
        margin: 0px;
}

.edit-txt {
        font-size: 15px;
}

.f-row {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 10px 0px;
}

.input-row {
        display: flex;
        align-items: start;
        justify-content: space-between;
        flex-direction: column;
        margin: 10px 0px;
}

.input-row label {
        font-size: 13px;
        font-weight: bold;
        margin: 0px;
        color: black;
}

.input-row input {
        padding: 8px;
        border-radius: 8px;
        border: 1px solid gray;
        width: 100%;
        height: 35px;
}

.input-row input:focus {
        outline: none;
        border-color: #003580;
        box-shadow: 0 0 5px rgba(0, 53, 128, 0.5);
}

.input-row select{
        font-size: 15px;
        padding: 8px;
        border-radius: 8px;
        border: 1px solid gray;
        width: 100%;
        height: 35px;
}

.input-row select:focus{
         outline: none;
        border-color: #003580;
        box-shadow: 0 0 5px rgba(0, 53, 128, 0.5);
}

.save-edit-btn {
        display: flex;
        align-items: end;
        justify-content: flex-end;
}

.save-edit-btn button {
        border: none;
        border-radius: 8px;
        padding: 8px 20px;
        font-size: 14px;
        cursor: pointer;
        margin: 0px 5px;
}

.edit-head-txt{
        display: flex;
        align-items: center;
        justify-content: space-between;
}

.e-cancel button{
        background: none;
        border: none;
}

@media (max-width: 768px){

        .edit-outer{
                width: 80%;
                margin: 200px 0px;
        }

        .e-out{
                overflow-y: scroll;
        }

        .f-row{
                flex-direction: column;
        }
}