body {
  background-color: aliceblue;
}

.outer-dash {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding-left: 80px;
  background-color: white;
  margin-top: 70px;
}


/* Nav Bar */
.outer-dash-nav {
  display: none;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  z-index: 999;
  padding: 5px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
}

.college-info-nav {
  padding: 5px 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid gray;
}

.college-nav-info p {
  margin: 10px;
}

.college-nav-img img {
  height: 50px;
}

#hide-nav {
  background: none;
  border: none;
}

.dash-info-link a {
  text-decoration: none;
  color: black;
}

.dash-info-link {
  width: 100%;
  border-bottom: 1px solid gray;
}

.dash-info-link li {
  font-size: 13px;
  list-style: none;
  padding: 10px;
  margin: 2px;
}

.dash-info-link ul {
  padding: 0px;
}

.dash-info-link li:hover {
  transition: 0.2s ease-in-out;
  background-color: aliceblue;
  border-bottom: 1px solid #003580;
}

.college-log-out button {
  background: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
  margin: 0px 5px 20px 5px;
}


.toggle-dash-nav {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: white;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.toggle-img img {
  height: 40px;
}

.toggle-info-link ul {
  list-style: none;
  padding: 0px;
}

.toggle-info-link li {
  font-size: 15px;
  padding: 8px;
  margin: 8px;
}

.toggle-logout {
  font-size: 15px;
  margin: 20px;
}

@media (max-width: 768px) {

  .dash-info-link li {
    font-size: 15px;
    padding: 6px;
    margin: 5px;
  }

  .toggle-info-link li {
    font-size: 15px;
    margin: 5px;
  }

  .toggle-logout {
    font-size: 15px;
    margin: 0px;
  }
}

/* Upper Nav */
.upper-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  width: 93%;
  z-index: 990;
  background-color: white;
}

.upper-nav-info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.upper-nav-img {
  font-size: 40px;
  margin: 0px 40px 0px 20px;
}

.upper-nav-txt p {
  margin: 0px;
}


/* Title Section */
.title-section {

  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-section h1 {
  font-size: 28px;
  color: #111827;
}

.title-section p {
  color: #6b7280;
  margin-top: 5px;
}

.container{
  width: 100%;
}

/* Button */
.add-btn {
  background: #2f49d1;
  color: white;
  border: none;
  padding: 12px 22px;
  border-radius: 25px;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 6px 15px rgba(47,73,209,0.3);
}

/* Search */
.search-box {
  margin-top: 20px;
}

.search-box input {
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  border: 1px solid #e5e7eb;
  outline: none;
  font-size: 14px;
}

/* Card */
.card {
  background: #fff;
  margin-top: 20px;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
  overflow: hidden;
}

/* Rows */
.row {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 18px 20px;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}

.row:last-child {
  border-bottom: none;
}

/* Header Row */
.row .head {
  background: #fafafa;
  color: #6b7280;
  font-weight: 600;
}

/* Name */
.name {
  display: flex;
  align-items: center;
  gap: 12px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #e9edff;
  color: #2f49d1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.name span {
  font-size: 12px;
  color: #9ca3af;
}

/* Bold text */
.bold {
  font-weight: 600;
}

/* Delete */
.delete {
  color: #ef4444;
  font-size: 16px;
  cursor: pointer;
}