body {
  background-color: aliceblue;
}

.outer-dash {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        padding-left: 80px;
        background-color: white;
}


/* Nav Bar */
.outer-dash-nav {
        display: none;
        height: 100%;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        position: fixed;
        top: 0;
        z-index: 999;
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: white;
}

.college-info-nav {
        padding: 10px 10px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border-bottom: 1px solid gray;
}

.college-nav-info p {
        margin: 10px;
}

.college-nav-img img{
        height: 50px;
}

#hide-nav {
        background: none;
        border: none;
}

.dash-info-link a {
        text-decoration: none;
        color: black;
}

.dash-info-link {
        width: 100%;
        border-bottom: 1px solid gray;
}

.dash-info-link li {
        font-size: 17px;
        list-style: none;
        padding: 15px;
        margin: 2px;
}

.dash-info-link ul {
        padding: 0px;
}

.dash-info-link li:hover {
        transition: 0.2s ease-in-out;
        background-color: aliceblue;
        border-bottom: 1px solid #003580;
}

.college-log-out button {
        background: none;
        border: none;
        font-size: 14px;
        cursor: pointer;
        margin: 0px 5px 20px 5px;
}


.toggle-dash-nav {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        position: fixed;
        top: 0;
        z-index: 999;
        background-color: white;
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.toggle-info-link ul {
        list-style: none;
        padding: 0px;
}

.toggle-info-link li {
        font-size: 18px;
        padding: 8px;
        margin: 8px;
}

.toggle-logout {
        font-size: 15px;
        margin: 20px;
}

@media (max-width: 768px) {
       
        .dash-info-link li {
                font-size: 15px;
                padding: 6px;
                margin: 5px;
        }

        .toggle-info-link li{
                font-size: 15px;
                margin: 5px;
        }

        .toggle-logout {
                font-size: 15px;
                margin: 0px;
        }
}