body {
  background-color: aliceblue;
}

.outer-dash {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding-left: 80px;
  background-color: white;
}


/* Nav Bar */
.outer-dash-nav {
  display: none;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: fixed;
  top: 0;
  z-index: 999;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
}

.student-info-nav {
  padding: 10px 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid gray;
}

.student-nav-info p {
  margin: 10px;
}

.student-nav-img {
  font-size: 50px;
}

#hide-nav {
  background: none;
  border: none;
}

.dash-info-link a {
  text-decoration: none;
  color: black;
}

.dash-info-link {
  width: 100%;
  border-bottom: 1px solid gray;
}

.dash-info-link li {
  font-size: 17px;
  list-style: none;
  padding: 15px;
  margin: 2px;
}

.dash-info-link ul {
  padding: 0px;
}

.dash-info-link li:hover {
  transition: 0.2s ease-in-out;
  background-color: aliceblue;
  border-bottom: 1px solid #003580;
}

.student-log-out button {
  background: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
  margin: 0px 5px 20px 5px;
}


.toggle-dash-nav {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: white;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.toggle-info-link ul {
  list-style: none;
  padding: 0px;
}

.toggle-info-link li {
  font-size: 18px;
  padding: 8px;
  margin: 8px;
}

.toggle-logout {
  font-size: 15px;
  margin: 20px;
}

@media (max-width: 768px) {

  .dash-info-link li {
    font-size: 15px;
    padding: 6px;
    margin: 5px;
  }

  .toggle-info-link li {
    font-size: 15px;
    margin: 5px;
  }

  .toggle-logout {
    font-size: 15px;
    margin: 0px;
  }
}

.container {
  padding: 30px;
}

/* HEADER */
.header h2 {
  margin: 0;
}

.header p {
  color: gray;
  font-size: 14px;
}

/* MAIN LAYOUT */
.main {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

/* CARD */
.card {
  background: white;
  border-radius: 12px;
  padding: 20px;
  flex: 1;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.left {
  border-top: 5px solid #2a6df4;
}

/* CARD HEADER */
.card-header {
  font-weight: bold;
  margin-bottom: 15px;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.label {
  font-size: 12px;
  color: gray;
}

.room {
  background: #e6f0ff;
  display: inline-block;
  padding: 8px 12px;
  border-radius: 8px;
  color: #2a6df4;
}

/* MESS */
.mess {
  margin-top: 10px;
}

/* RIGHT SIDE */
.right {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* INNER CARD */
.inner-card {
  background: #f9fafc;
  padding: 15px;
  border-radius: 10px;
}

.inner-card p {
  margin: 8px 0;
}

/* FEE CARD */
.fee-card {
  background: #e6f7f1;
  padding: 15px 20px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.paid {
  color: green;
  font-size: 14px;
}

.due {
  color: red;
  font-weight: bold;
}
.facility-card {
  background: white;
  margin-top: 30px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 12px 8px rgba(0,0,0,0.05);
}
.divider {
    border: none;
    height: 1px;
    background: #ddd;
    margin: 30px 0;

}

.title {
  margin-bottom: 25px;
}

/* GRID */
.list-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

/* LEFT SIDE */
.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list ul {
  list-style: none;
  padding: 0;
}

.list li {
  margin-bottom: 10px;
  font-size: 14px;
  color: #555;
  position: relative;
  padding-left: 20px;
}

/* Circle icon */
.list li::before {
  content: "○";
  position: absolute;
  left: 0;
  color: #2a6df4;
}

/* RIGHT SIDE RULES */
.rules {
  border-left: 1px solid #eee;

}

.rule {
  background: #f9fafc;
  padding: 10px 15px;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  border: 1px solid #eee;
}

@media (max-width:768px) {
    .main{
      flex-direction: column;
    }

    .right{
      width: 100%;
    }
}

@media (max-width:500px) {
  .main{
    text-align: start;
  }

  .card{
    padding: 10px;
  }

  .grid{
    grid-template-columns: 1fr;
  }
  .list{
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0px;
  }

  .rule{
    padding: 5px;
  }
}