body {
  background-color: aliceblue;
}

.outer-dash {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding-left: 80px;
  background-color: white;
}


/* Nav Bar */
.outer-dash-nav {
  display: none;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: fixed;
  top: 0;
  z-index: 999;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
}

.student-info-nav {
  padding: 10px 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid gray;
}

.student-nav-info p {
  margin: 10px;
}

.student-nav-img {
  font-size: 50px;
}

#hide-nav {
  background: none;
  border: none;
}

.dash-info-link a {
  text-decoration: none;
  color: black;
}

.dash-info-link {
  width: 100%;
  border-bottom: 1px solid gray;
}

.dash-info-link li {
  font-size: 17px;
  list-style: none;
  padding: 15px;
  margin: 2px;
}

.dash-info-link ul {
  padding: 0px;
}

.dash-info-link li:hover {
  transition: 0.2s ease-in-out;
  background-color: aliceblue;
  border-bottom: 1px solid #003580;
}

.student-log-out button {
  background: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
  margin: 0px 5px 20px 5px;
}


.toggle-dash-nav {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: white;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.toggle-info-link ul {
  list-style: none;
  padding: 0px;
}

.toggle-info-link li {
  font-size: 18px;
  padding: 8px;
  margin: 8px;
}

.toggle-logout {
  font-size: 15px;
  margin: 20px;
}

@media (max-width: 768px) {

  .dash-info-link li {
    font-size: 15px;
    padding: 6px;
    margin: 5px;
  }

  .toggle-info-link li {
    font-size: 15px;
    margin: 5px;
  }

  .toggle-logout {
    font-size: 15px;
    margin: 0px;
  }
}
.container {
    width: 90%;
    margin: auto;
}

.banner {
    height: 220px;
    /* background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)); */
    border-radius: 15px;
    margin-top: 20px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px;
    color: white;
}

.banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.4);
}
.overlay {
    position: absolute;
    top: 30px;
    left: 30px;
    color: white;
    z-index: 2;
}
.overlay h1 {
    margin: 5px 0;
}

.est {
    font-size: 12px;
    letter-spacing: 1px;
}

.sub {
    font-size: 14px;
}

.grade {
    position: absolute;
    right: 20px;
    top: 20px;
    background: #222;
    padding: 10px 15px;
    border-radius: 10px;
    font-weight: bold;
}

/* Stats */
.stats {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    margin-top: 20px;
}

.card {
    flex: 1;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.card p {
    color: gray;
}

.card h2 {
    margin: 5px 0;
}

/* Main */
.main {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

/* Contact */
.contact {
    width: 30%;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Table */
.table-box {
    width: 70%;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow-x: scroll;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    text-align: left;
    background: #f1f1f1;
    padding: 10px;
}

td {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

@media (max-width:768px){
    .main{
        flex-direction: column;
    }
    .stats{
      grid-template-columns: repeat(2,1fr);
    }
    .contact{
      width: 100%;
    }

    .table-box{
      width: 100%;
    }
    table{
       overflow-x: scroll;
    }
}

@media (max-width:500px){
    .stats{
      grid-template-columns: 1fr;
    }
}